# Created by https://www.toptal.com/developers/gitignore/api/django,nextjs
# Edit at https://www.toptal.com/developers/gitignore?templates=django,nextjs

### Django ###
bkd/*.log
bkd/*.pot
bkd/*.pyc
bkd/__pycache__/
bkd/local_settings.py
bkd/db.sqlite3
bkd/db.sqlite3-journal
bkd/media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
bkd/*.py[cod]
bkd/*$py.class

# C extensions
bkd/*.so

# Distribution / packaging
bkd/.Python
bkd/build/
bkd/develop-eggs/
bkd/dist/
bkd/downloads/
bkd/eggs/
bkd/.eggs/
bkd/lib/
bkd/lib64/
bkd/parts/
bkd/sdist/
bkd/var/
bkd/wheels/
bkd/share/python-wheels/
bkd/*.egg-info/
bkd/.installed.cfg
bkd/*.egg
bkd/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
bkd/*.manifest
bkd/*.spec

# Installer logs
bkd/pip-log.txt
bkd/pip-delete-this-directory.txt

# Unit test / coverage reports
bkd/htmlcov/
bkd/.tox/
bkd/.nox/
bkd/.coverage
bkd/.coverage.*
bkd/.cache
bkd/nosetests.xml
bkd/coverage.xml
bkd/*.cover
bkd/*.py,cover
bkd/.hypothesis/
bkd/.pytest_cache/
bkd/cover/

# Translations
bkd/*.mo

# Django stuff:

# Flask stuff:
bkd/instance/
bkd/.webassets-cache

# Scrapy stuff:
bkd/.scrapy

# Sphinx documentation
bkd/docs/_build/

# PyBuilder
bkd/.pybuilder/
bkd/target/

# Jupyter Notebook
bkd/.ipynb_checkpoints

# IPython
bkd/profile_default/
bkd/ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
bkd/.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
bkd/__pypackages__/

# Celery stuff
bkd/celerybeat-schedule
bkd/celerybeat.pid

# SageMath parsed files
bkd/*.sage.py

# Environments
bkd/.env
bkd/.venv
bkd/env/
bkd/venv/
bkd/ENV/
bkd/env.bak/
bkd/venv.bak/

# Spyder project settings
bkd/.spyderproject
bkd/.spyproject

# Rope project settings
bkd/.ropeproject

# mkdocs documentation
bkd/site

# mypy
bkd/.mypy_cache/
bkd/.dmypy.json
bkd/dmypy.json

# Pyre type checker
bkd/.pyre/

# pytype static type analyzer
bkd/.pytype/

# Cython debug symbols
bkd/cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/





### NextJS ###
# dependencies
fnd/node_modules
fnd/.pnp
fnd/.pnp.js

# testing
fnd/coverage

# next.js
fnd/.next/
fnd/out/

# production
fnd/build

# misc
fnd/.DS_Store
fnd/*.pem

# debug
fnd/npm-debug.log*
fnd/yarn-debug.log*
fnd/yarn-error.log*
fnd/.pnpm-debug.log*

# local env files
.env*.local

# vercel
fnd/.vercel

# typescript
fnd/*.tsbuildinfo
fnd/next-env.d.ts

# End of https://www.toptal.com/developers/gitignore/api/django,nextjs

# DEV
__pycache__
__init__.py
practica_python
.env.production
layout.sh
scripts
